body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 26px;
	margin: 0;
	overflow: hidden;
}

.rotation-group {
	min-height: 100%;
}

.shared-mobility-station {
	flex: 57%;
	font-weight: 700;
}

.shared-mobility-count {
	flex: 31%;
	text-align: right;
}

.slick-slide {
	min-height: 100vh;
}

.slick-list {
	min-height: 100vh;
}

.transit-first-prediction {
	font-weight: 700;
}

.transit-prediction {
	display: flex;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 38px;
}

.transit-min {
	font-size: 20px;
}

.transit-route {
	flex: 12%;
}

.transit-route-label {
	webkit-border-radius: 2rem;
	border-radius: 2rem;
	padding: .125rem .25rem;
	text-transform: uppercase;
	font-weight: 700;
}

.transit-headsign {
	flex: 48%;
	font-weight: 700;
}

.transit-countdown {
	flex: 40%;
	text-align: right;
}

.transit-alert-container {
	padding: 10px;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
}

.transit-alert-route {
	webkit-border-radius: 4rem;
	border-radius: 4rem;
	padding: .0625rem .5rem;
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 86px;
}

.transit-alert-title {
	font-weight: 700;
	font-size: 60px;
}

.weather-alert-container {
	color: black;
	padding: 10px;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
}

.weather-alert-severe {
	color: black;
	background-color: yellow;
}

.weather-alert-severe-type {
	color: white;
	background-color: black;
}

.weather-alert-type {
	webkit-border-radius: 4rem;
	border-radius: 4rem;
	padding: .25rem 2rem;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 66px;
	display: flex;
	width: max-content;
	max-width: 89vw;
}

.weather-alert-expire {
	font-weight: 700;
	font-size: 60px;
}

.weather-icon-header {
	vertical-align: text-bottom;
}

.weather-icon-header::before {
	font-size: 55px;
	font-weight: 700;
	vertical-align: super;
}

.message-container {
	margin: 40px 10px 10px 10px;
}

#message-status {
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
}

.message-status {
	padding: .125rem 1.25rem;
	font-weight: 700;
	display: flex;
	width: max-content;
	max-width: 92vw;
}

.message-last-updated {
	margin: 0px 10px 0px 10px;
}

#overnight-mode {
	font-size: 240px;
	color: white;
	background-color: black;
	text-align: center;
	font-weight: 700;
	padding-top: 50px;
}

.overnight-mode-container {
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
}

#header-container {
	padding: 10px 7px 0px 7px;
	font-size: 26px;
	margin-top: -20px;
}

.header-close-button {
	font-size: 76px;
	font-weight: 500;
	vertical-align: inherit;
	bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.header-larger {
	font-size: 80px;
	font-weight: 700;
	vertical-align: inherit;
	bottom: 0;
}

.header-smaller {
	font-size: 36px;
	font-weight: 700;
}

.header-cell {
	display: table-cell;
}

.header-delineator {
	height: 7px;
	margin: -5px 0px 0px 0px;
	border-left: 10px solid;
	border-right: 10px solid;
}

.weather-forecast {
	display: flex;
	vertical-align: middle;
	padding-bottom: 18px;
}

.weather-forecast-container {
	margin: 10px;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
	width: -webkit-fill-available;
	width: fill-available;
}

.weather-forecast-time {
	flex: 9%;
	font-size: 48px;
	font-weight: 700;
	text-align: left;
}

.weather-forecast-icon {
	flex: 15%;
	font-size: 42px;
	text-align: center;
}

.weather-forecast-icon::before {
	vertical-align: text-bottom;
}

.weather-forecast-text {
	flex: 35%;
	font-size: 26px;
	text-align: left;
	padding-top: 12px;
}

.weather-forecast-temp-data {
	font-size: 48px;
	font-weight: 700;
}

.weather-forecast-temp-c {
	flex: 14%;
	text-align: right;
}

.weather-forecast-temp-f {
	flex: 14%;
	text-align: right;
}

.weather-forecast-temp-label {
	font-size: 20px;
	font-weight: 700;
}

.app-title {
	display: table-cell;
	vertical-align: inherit;
	color: gray;
}

a {
	text-decoration: none;
	border: none;
}

td {
	vertical-align: baseline !important;
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
	width: 100%;
	background-color: yellow;
	display: none;
}

#footer-title {
	font-weight: bolder;
}

#footer-content-scroll {
	position: fixed;
	height: 100%;
	text-align: center;
	overflow-x: hidden;
	white-space: nowrap;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: footer-content-scroll 90s linear infinite;
	-webkit-animation: footer-content-scroll 90s linear infinite;
	animation: footer-content-scroll 90s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes footer-content-scroll {
	0%   { -moz-transform: translateX(10%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes footer-content-scroll {
	0%   { -webkit-transform: translateX(10%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes footer-content-scroll {
	0%   { 
		-moz-transform: translateX(10%); /* Firefox bug fix */
		-webkit-transform: translateX(10%); /* Firefox bug fix */
		transform: translateX(10%);
	}
	100% { 
		-moz-transform: translateX(-100%); /* Firefox bug fix */
		-webkit-transform: translateX(-100%); /* Firefox bug fix */
		transform: translateX(-100%);
	}
}

.light-control-container {
	margin: 10px;
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;
	min-height: 385px;
	width: -webkit-fill-available;
	width: fill-available;
}

.light-slider-group {
	transition: transform 0.3s ease-out;
	height: auto;
	transform: scaleY(1);
	transform-origin: top;
}

.light-slider-group.collapsed {
	transform: scaleY(0);
}

.light-slider-group.collapsed {
	transform: scaleY(0);
}

.light-row {
	display: flex;
	padding-bottom: 20px;
}

.light-label-title {
	font-weight: 700;
	font-size: 64px;
}

.light-label {
	font-weight: 700;
	font-size: 50px;
	flex: 20%;
	text-align: center;
	height: 47px;
}

.light-input {
	align-self: center;
	flex: 80%;
	margin-right: 50px;
}

.light-input-toggle {
	align-self: center;
}

.light-toggle {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 64px;
}

.light-toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.light-toggle-power {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 38px;
}

.light-toggle-power:before {
	position: absolute;
	content: "";
	height: 54px;
	width: 54px;
	left: 6px;
	bottom: 5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 1px 1px 5px black;
	border-radius: 38px;
}

input:checked + .light-toggle-power {
	background-color: #2196F3;
}

input:focus + .light-toggle-power {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .light-toggle-power:before {
	-webkit-transform: translateX(54px);
	-ms-transform: translateX(54px);
	transform: translateX(54x`px);
}

.light-toggle-power.round {
	-radius: 45px;
}

.light-toggle-power.round:before {
	border-radius: 50%;
}

.light-slider {
	width: 100%;
}

/* slider itself */
.light-slider-input {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 10px;
	background: #ccc;
	outline: none;
	-webkit-transition: .2s; /* transition on hover */
	transition: opacity .2s;
	border-radius: 4px;
}

.light-slider-temperature-input {
	background: linear-gradient(to right, #ffc77e, white, #50fcff) !important;
}

.light-slider-hue-input {
	background: linear-gradient(to right, red, orange, yellow, lime, green, turquoise, cyan, blue, violet, magenta, crimson, red) !important;
}

/* slider handle */ 
.light-slider-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 54px;
	height: 54px;
	background-color: white;
	cursor: pointer;
	box-shadow: 1px 1px 5px black;
	border-radius: 38px;
}

.light-slider-input::-moz-range-thumb {
	width: 54px;
	height: 54px;
	background-color: white;
	cursor: pointer;
	box-shadow: 1px 1px 5px black;
	border-radius: 38px;
}
